/* ------------------------button on Menu Admin-------------------*/
.menuItem:hover {
    -fx-background-color: #000000;
    -fx-border-color: #A64F3C;
    -fx-border-width: 0px 0px 0px 5px;
}

/*------------------------background_color-----------------------*/
.background-color {
    -fx-background-color:  #F2E0C9;
}

.Resign-Background {
    -fx-background-image: url("../image/customer/login/LoginBackground.png"); /* Hình nền */
    -fx-background-position: center; /* Căn giữa hình nền */
    -fx-background-repeat: no-repeat; /* Không lặp lại hình nền */
    -fx-background-size: cover; /* Đảm bảo hình nền phủ đầy AnchorPane */
}

/*--------------------------font------------------------------*/
@font-face {
    /* Define the font face correctly */
    src: url('../font/Cabin.ttf');
    src: url('../font/Cabin_Condensed-Bold.ttf')
}

.font {
    -fx-text-fill: #000;
    -fx-font-family: 'Cabin'; /* Ensure the font family is applied here */
    -fx-font-size: 20px;
    -fx-font-weight: 500;
}

/*---------------------button on Menu bar--------------------------------*/
.menu-bar {
    -fx-transition: width 0.5s ease-out;
    -fx-transition2: width 0.5s ease-in;
    -fx-padding: 0;
}
.menu-bar-button {
    -fx-font-family: 'Cabin';
    -fx-background-color: #FFFFFF;
}

.menu-bar-button:hover{
    -fx-background-color: #E4E4E4;
    -fx-font-family: 'Cabin';
}

.menu_add_button {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.0, 0, 4);
    -fx-background-radius: 8.5px 8.5px 8.5px 8.5px;
}
.menu_add_button:hover {
    -fx-background-color:#EDF1FA ;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.0, 0, 4);
    -fx-background-radius: 8.5px 8.5px 8.5px 8.5px;
}

/*----------------------dinh dang kieu cho hang trong bang------------------------*/
.each-row-table-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #969696;
    -fx-border-width: 0px 0px 1px 0px;
}

.each-row-table-view:hover {
    -fx-background-color: #E4E4E4;
    -fx-border-color: #969696;
    -fx-border-width: 0px 0px 1px 0px;
}

/*-----------------------lam tron 4 goc va co bong cho table------------------------*/
.rounded-top {
    -fx-background-color: #f0f0f0; /* Màu nền */
    -fx-background-radius: 8.5px 8.5px 0 0; /* Bo tròn 2 góc phía trên */
}

.rounded {
    -fx-background-color: #FFF; /* Màu nền trắng */
    -fx-background-radius: 8.5px 8.5px 8.5px 8.5px; /* Bo tròn góc dưới */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 3.4, 0, 0, 3.4); /* Hiệu ứng drop shadow */
}

.pane-main {
    -fx-background-color: #FFF; /* Màu nền trắng */
    -fx-background-radius: 6.6px 6.6px 6.6px 6.6px; /* Bo tròn góc dưới */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 3.4, 0, 0, 3.4); /* Hiệu ứng drop shadow */
}


.gray-text-Cabin {
    -fx-text-fill: #969696; /* Màu chữ */
    -fx-font-family: 'Cabin';
    -fx-font-size: 16px;
}

.black-text-Cabin {
    -fx-text-fill: #000; /* Màu chữ */
    -fx-font-family: 'Cabin'; /* Đảm bảo tên font được đặt trong dấu nháy đơn */
    -fx-font-size: 16px;
}

.white-button {
    -fx-font-family: 'Cabin Condensed';
    -fx-font-size: 16;
    -fx-text-fill: #A64F3C;
    -fx-font-weight: bold;
    -fx-background-color: #FFF;
    -fx-border-color: #A64F3C;
    -fx-border-radius: 4.8px;
    -fx-effect: dropshadow(gaussian, rgba(115, 78, 56, 0.50), 2.4, 0, 0, 2.4);
}

.white-button:pressed {
    -fx-padding: 5 15 6 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;

}

.brown_button {
    -fx-font-family: 'Cabin Condensed';
    -fx-font-weight: bold;
    -fx-padding: 4 15 8 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 6.6px;
    -fx-background-color: #A64F3C;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0, 0, 1);
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.brown_button:hover {
    -fx-background-color: #A64F3C;
}

.brown_button:pressed {
    -fx-padding: 5 15 6 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.black-text-Cabin-bold {
    -fx-font-family: 'Cabin Condensed';
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.circle_button {
    -fx-background-color: rgb(221, 220, 220); /* Màu nền */
    -fx-text-fill: #7C7A7A; /* Màu chữ */
    -fx-background-radius: 50; /* Để tạo hình tròn */
    -fx-min-width: 56; /* Đặt chiều rộng tối thiểu */
    -fx-min-height: 56; /* Đặt chiều cao tối thiểu */
    -fx-effect: dropshadow(gaussian, rgba(115, 78, 56, 0.50), 2.4, 0, 0, 2.4);
}

.circle_button:hover {
    -fx-background-color: #c5c4c4;
}

.shadow_box {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 10, 0, 0, 0);
}

/*----------------------Admin-Book--------------------------------------*/
.litter-rectangle {
    -fx-background-color: #FFF; /* Màu nền trắng */
    -fx-background-radius: 6.6px 6.6px 6.6px 6.6px; /* Bo tròn góc dưới */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 3.4, 0, 0, 3.4);
}
.find-text-field-customer {
    -fx-background-color: transparent;
    -fx-text-fill: #969696; /* Màu chữ */
    -fx-font-family: 'Cabin';
    -fx-font-size: 16px;
}

.fill-text-field-customer {
    -fx-background-color: transparent;
    -fx-text-fill: #000; /* Màu chữ */
    -fx-font-family: 'Cabin';
    -fx-font-size: 16px;
}

.round-box-customer {
    -fx-border-color: #000;
    -fx-border-width: 0.85px; /* Simplified to just one value */
    -fx-border-radius:  3.3px ;
}

.button_page {
    -fx-background-color: #F8F8F8;
    -fx-border-radius: 3px 3px 0px 0px;
    -fx-border-color: #000;
    -fx-border-width: 0.85px 0.85px 0px 0.85px; /* Simplified to just one value */
}

/*_________________________Admin Issuel-------------------------------*/
.up-border {
    -fx-border-color: #000;
    -fx-border-width: 0.85px 0px 0px 0px; /* Simplified to just one value */
}
/*-------------------------Admin_Borrow----------------------------------*/
.scan-button
{
    -fx-background-color: #A64F3C;
    -fx-font-size: 10.56px;
    -fx-text-fill: white;
    -fx-font-family: 'Cabin';
}